<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>  
    <title>Picante FM</title>   

    
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Figtree:wght@400&display=swap" rel="stylesheet">  

  
    <link rel="stylesheet" href="/css/mainpage.css">
</head>

<body>


<%- include('partials/header') %>

<main class="container">

<article class="cards">
    <div class="card">
        <img src="/images/DJ_background.jpg" alt="DJ Sample photo">
        <div class="card-body">
            <h3>DJ</h3>
            <p>Set the vibe with the hottest tracks and feel the audience come alive.</p>
            <a href="/djwebsite"><button>Go</button></a>
        </div>    
    </div>
    <div class="card">
        <img src="/images/Producer_background.jpg" alt="Producer Sample photo">
        <div class="card-body">
            <h3>Producer</h3>
            <p>Curate the perfect playlists and select your DJs accordingly.</p>
            <a><button>Go</button></a>
        </div>    
    </div>
    <div class="card">
        <img src="/images/Manager_background.jpg" alt="Manager Sample photo">
        <div class="card-body">
            <h3>Manager</h3>
            <p>Lead the way in the music industry, guiding artists to success.</p>
            <a><button>Go</button></a>
        </div>    
    </div>    
</article>

</main> 

</body>
</html>
